/* 1. Here, I set the general background and overall design rule */
* {
    box-sizing: border-box; 
}
body {
    margin: 0;
    background-color: #F5F5F5;
    color: #142b36;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    overflow-wrap: break-word;
}
/* B/c it is interesting so I put a comment. I use scroll-margin-top (research outside) to avoid the content to be hidden by the nav-abr after anchor jump as previously it happened */
#page-main {
    scroll-margin-top: 40px;
    min-height: 65vh;
    width: 90%;
    margin:0 auto;
    padding: 30px 0;
}

/* 2. Design Links Appearance */
a {
    color: #244bc4;
}
a:hover {
    color: #142b36;
}

/* After that, I set the design for main content */
/* 3. Navigation Bar and Heeader Design */
.page-header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1000;
    padding: 15px 5%;
    background-color: white;
    display: flow-root;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 2px solid #142b36 ;
}
.logo {
    float: left;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    color: #3159d9;
}
.nav-bar {
    float: right;
    margin: 0;
    line-height: 40px;
}
.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-bar li {
    display: inline-block;
    margin-left: 30px;
}
.nav-bar a {
    display: inline-block;
    padding: 0;
    color: #142b36;
    font-weight: bold;
    text-decoration: none;
}
.nav-bar a:hover,
.nav-bar a[aria-current="page"] {
    color: #3159d9;
    text-decoration: underline;
}

/* 4. Here, I set the design for text, such as p, headings, highlight, etc. */
h1 {
    line-height: 1.25;
    font-size: 36px;
}
h2 {
    line-height: 1.25;
    font-size: 28px;
}
h3 {
    line-height: 1.25;
    font-size: 24px;
}
p {margin-bottom: 16px;}
.highlight {
    color : #3159d9;
    font-size: larger;
    font-weight: bold;
}

/* 5. Next I will design the footer to show my authority */
.page-footer {
    margin: 0;
    padding: 10px 0;
    color: #142b36;
    border-top: 1px solid #142b36;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

/* 6. Now I will desgin the image and overal content section */
.page-section {
    margin-top: 32px;
    padding-top: 16px;
    border-top: 1px solid #cbd5e1;
}
.portrait-img {
    display: block;
    width: 30%;
    height: 0%;
    margin: 16px auto;
    border: 5px solid #3159d9;
    border-radius: 30px;
}
.overall-design-img {
    display: block;
    width: 60%;
    height: auto;
    margin: 30px auto;
}

.html-structure-img {
    display: block;
    width: 30%;
    height: auto;
    margin: 30px auto;
}
/* 7. Additioanlly, I will design my contents of the website into grid of cards */
/* This is advanced, outside research technique, as initially I used normal page grid and inline-block cards*/
/* However I can't be able to ensure their height being the same and adaptive to changes in text length */
/* That's why I researched and use display:grid (based on W3Schools)*/
.page-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 16px;
}
.page-card {
    padding: 20px;
    border: 1px solid #ffffff;
    border-top: 4px solid #3159d9;
    border-radius: 15px;
    background-color: #f7f9ff;
    text-align: left;
    overflow-wrap: break-word;
}

/* 8. Moving forward, I will decorate the involved tables */
table {
    width: 100%;
    margin: 16px 0;
    border-collapse: collapse;
    table-layout: fixed;
}
td {
    padding: 8px;
    border: 1px solid #cbd5e1;
    background-color: #f7f9ff;
    text-align: left;
    vertical-align: top;
}
th {
    padding: 8px;
    border: 1px solid #cbd5e1;
    text-align: center;
    vertical-align: top;
    background-color: #3159d9;
    color: white;
}
caption {
    margin-bottom: 8px;
    font-style: italic;
    text-align: center;
}

/* 9. Here I fix content overlap with header after internal links navigation */
#past-study,
#past-experience,
#past-skills,
#overall-design,
#html-design,
#css-design,
#design-reasoning,
#design-accessibility {
    scroll-margin-top: 40px;
}


/* 10. Finall, I desgin the webpage structure when windown is small for better visability and avoid cut off or overlap */
@media (max-width: 650px) {
    .page-header {
        text-align: center;
    }
    #past-study,
    #past-experience,
    #past-skills,
    #overall-design,
    #html-design,
    #css-design,
    #design-reasoning,
    #design-accessibility,
    #page-main{
        scroll-margin-top: 80px;
    }
    .logo,
    .nav-bar {
        float: none;
    }
    .nav-bar li {
        margin: 0 10px;
    }
    .page-grid{
        grid-template-columns: 1fr;
    }
}

