/* 1. Here, I set the general background and overall design rule */
* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    background-color: #F5F5F5;
    color: #142b36;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    overflow-wrap: break-word;
    padding-top: 16px;
}

.page-content {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

#page-main {
    min-height: 65vh;
    padding: 30px 0;
}

/* 2. Design Links Appearance */
a {
    color: #244bc4;
}
a:hover {
    color: #142b36;
}

/* After that, I set the design for main content */
/* 3. Navigation Bar and Heeader Design */
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 5%;
    background-color: white;
    border-bottom: 1px solid #dce3ef;
}

.logo {
    margin: 0;
    font-size:36px; 
    font-weight: bold;
    color:#3159d9;
}

.page-header  p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.nav-bar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-bar a {
    display: block;
    padding: 5px 0;
    color: #142b36;
    font-weight: bold;
    text-decoration: none;
}

.nav-bar a:hover,
.nav-bar a[aria-current="page"] {
    color: #3159d9;
    text-decoration: underline;
}

/* 4. Here, I set the design for text, such as p, headings, highlight, etc. */
h1 {
    line-height: 1.25;
    font-size: 36px;
}

h2 {
    line-height: 1.25;
    font-size: 28px;
}

h3 {
    line-height: 1.25;
    font-size: 24px;
}

p {margin-bottom: 16px;}

.highlight {
    color : #3159d9;
    font-size: larger;
    font-weight: bold;
}

/* 4. Design the footer */
.page-footer {
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #142b36;
    color: #142b36;
    font-size: 16px;
    font-style: bold;
    text-align: center;
}

/* 5. Now I will desgin the image and section */
.page-section {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #dce3ef;
}

.portrait-img {
    display: block;
    width: 260px;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border: 5px solid #4169ed;
    border-radius: 20%;
}

/* 6. I will design my contents of the website into grid of cards */
.page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 20px;
}

.page-card {
    padding: 20px;
    border: 1px solid #dce3ef;
    border-top: 4px solid #4169ed;
    border-radius: 8px;
    background-color: #f7f9ff;
}

